*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/todolist.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    width: 500px;
    height: auto;
    min-height: 400px;
    padding: 30px;
    background: transparent;
    border: 2px solid #e6b7eca1;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 36px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.todo-input{
    flex: 1;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    border: 2px solid #e6b7eca1;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.todo-input::placeholder{
    color: white;
}

.add-Button{
    border: none;
    outline: none;
    background: #e6b7eca1;
    color: white;
    font-size: 35px;
    cursor: pointer;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.empty-image{
    display: block;
}

.todo {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color:  #463c7b;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10p 12px;
    border: 2px solid #e6b7eca1;
    transition: all 0.2s ease;
}

.todo:first-child{
    margin-top: 0;
}

.todo:last-child{
    margin-bottom: 0;
}

.todo:hover{
    background-color: #e6b7eca1;
}

.todo label{
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #eee;
}

.todo span{
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

span::before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: -30px;
    border-radius: 100px;
    border: 2px solid #e6b7eca1;
}

input[type='checkbox']{
    visibility: hidden;
}

input:checked + span{
    text-decoration: line-through;
}

.todo:hover input:checked + span::before, input:checked + span::before{
    /* background: url() 50% 50% no-repeat #09bb21; */
    border-color: #09bb21;
}

.todo:hover span::before {
    border-radius: #eee;
}

.todo .delete-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #eee;
    font-size: 24px;
}

.todo-container{
    height: 300px;
    overflow: overlay;
}

.todo-container::-webkit-scrollbar-track{
    background: rgb(247, 247, 247);
    border-radius: 20px;
}

.todo-container::-webkit-scrollbar{
    width: 0;
}

.todo-container:hover::-webkit-scrollbar{
    width: 7px;
}

.todo-container::-webkit-scrollbar-thumb{
    background: #e6b7eca1;
    border-radius: 20px;
}

.filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    /* border-radius: 100px; */
    /* border: 2px solid #e6b7eca1; */
}

.filter{
    color: #eee;
    padding: 5px 15px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.filter.active, .filter:hover{
    background-color: #e6b7eca1;
}

.delete-all{
    display: flex;
    color: #eee;
    padding: 7px 15px;
}

.delete-all:hover{
    border-radius: 5px;
}
